<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Eakrum Awwal</title>

    

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Link the static css libraries -->
    <link href="../views/grayscale/css/grayscale.css" type="text/css" rel="stylesheet" media="screen">

    <!-- fonts -->
    <link href="vendor/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Cabin:700' rel='stylesheet' type='text/css'>

    <!-- Styles -->
    <link href="css/grayscale.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">EA</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#experience">Experience</a>
              </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#download">Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Intro Header -->
    <header class="masthead">
      <div class="intro-body">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <h3 class="brand-heading">Eakrum A. Awwal</h3>
              <p class="intro-text">Developer | Innovator | Engineer</p>
              <a href="#about" class="btn btn-circle js-scroll-trigger">
                <i class="fa fa-angle-double-down animated"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- About Section -->
    <section id="about" class="content-section text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>Who is Eakrum?</h2>
            <p> Hey! I'm Eakrum and I am currently a student at Stevens Institute of Technology pursuing a B.E in Computer Engineering with a concentration of Software Engineering, and plan on completing a M.S in Enterprise and Cloud Computing. I expect completion of these by May 2019 and also have 3 full time technical internships and many projects to showcase my skillset as well.
            </p>
          </br>
            <p> Currently based in the Greater New York City Area; I enjoy spending time with friends, taking on new projects, and am an avid sports enthusiast. Although I currently cannot partake in one of my first loves due to injury which is football, I still find joy in developing new applications in my free time and keeping up with the latest technology.

            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- About Section -->
    <section id="experience" class="content-section text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>Experience</h2>
            <p> I'm a current student at Stevens Institute of Technology with a passion for Software Engineering, with expertise in full stack development, web applications, cloud architecture and significant work experience in the financial industry coming out of college. Take a look at my
              <a href="http://github.com/eawwal">github</a>. 
          </div>
        </div>
      </div>
    </section>


    <!-- Download Section -->
    <section id="download" class="download-section content-section text-center">
      <div class="container">
        <div class="col-lg-8 mx-auto">
          <h2>View our App</h2>
          <p>You can view an app my classmates and I made here for students to live stream into lectures using WebRTC low latency technology.</p>
          <a href="http://google.com" class="btn btn-default btn-lg">View</a>
        </div>
      </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="content-section text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>Contact Me</h2>
            <p>Feel free to connect with me on LinkedIN or GitHub!
              
            <ul class="list-inline banner-social-buttons">
              <li class="list-inline-item">
                <a href="http://github.com/eawwal" class="btn btn-default btn-lg">
                  <i class="fa fa-github fa-fw"></i>
                  <span class="network-name">Github</span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.linkedin.com/in/eakrum-awwal-aa882210b" class="btn btn-default btn-lg">
                  <i class="fa fa-linkedin fa-fw"></i>
                  <span class="network-name">LinkedIN</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <!-- Map Section -->
    <div id="map"></div>

    <!-- Footer -->
    <footer>
      <div class="container text-center">
        <p>Copyright &copy; Eakrum Awwal 2017</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.js"></script>

    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>

    <!-- Custom scripts for this template -->
    <script src="js/grayscale.js"></script>

  </body>

</html>
